{% extends "base.html.twig" %}
{% block title %}gestion des intervenants{% endblock %}

{% block body %}
<div>
    <h1>CReation d'un intervenant</h1>

    {{ form(intervenantForm) }}
</div>
{% endblock %}